/*
===============================================================================
Start CSS Reset
===============================================================================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
===============================================================================
End CSS Reset
===============================================================================
*/
body {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    background-color: #99a5dd;
}

header,
footer {
    overflow: hidden;
    color: #ffffff;
}

header h1 {
    float: left;
    width: fit-content;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 20px 0 0 0;
    font-size: 48px;
    border-top: 4px solid #d98aec;
}

header h2 {
    font-size: 24px;
    padding: 40px 0 20px 0;
    text-align: right;
}

header a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    background-color: #111f5a;
    text-decoration: none;
}

header a.active {
    background-color: rgb(141, 140, 177);
    color: #a4a9bb;
}

header a:hover {
    background-color: #000000;
    color: #ffffff;
}

header,
footer,
article {
    padding: 0 12.5% 0 12.5%;
}

article {
    background-color: #e2e2e2;
    padding-top: 10px;
    padding-bottom: 10px;
}

article h1 {
    text-align: center;
    font-size: 30px;
    color: #9996af;
    border-bottom: 2px solid #9996af;
    padding-top: 10px;
    margin-bottom: 20px;
}

article p {
    line-height: 20px;
}

footer {
    font-size: 12px;
    padding-top: 40px;
}

footer a {
    float: right;
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

footer a.active {
    color: #9996af;
}

footer a:hover {
    color: #000000;
}

