/*
===============================================================================
Start CSS Reset
===============================================================================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
===============================================================================
End CSS Reset
===============================================================================
*/
body {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    background-color: #99a5dd;
}

header,
footer {
    overflow: hidden;
    color: #ffffff;
}

header h1 {
    float: left;
    width: fit-content;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 20px 0 0 0;
    font-size: 48px;
    border-top: 4px solid #d98aec;
}

header h2 {
    font-size: 24px;
    padding: 40px 0 20px 0;
    white-space: nowrap;
    text-align: right;
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    background-color: #111f5a;
    text-decoration: none;
}

nav a.active {
    background-color: rgb(141, 140, 177);
    color: #a4a9bb;
}

nav a:hover {
    background-color: #000000;
    color: #ffffff;
}

header,
nav,
article 
footer,{
    padding: 0 12.5% 0 12.5%;
}

article {
    background-color: #e2e2e2;
    padding-top: 10px;
    padding-bottom: 10px;
}

article h1 {
    text-align: center;
    font-size: 30px;
    color: #9996af;
    border-bottom: 2px solid #9996af;
    padding-top: 10px;
    margin-bottom: 20px;
}

article p {
    line-height: 20px;
}


.row{
    margin: 8px -16px;
}

.row, 
.row > .column{
    padding: 8px;
}

.column{
    float: left;
    width:25%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.content{
    background-color: rgb(132, 140, 245);
    padding: 10px;
}

footer {
    font-size: 12px;
    padding-top: 40px;
}

footer a {
    float: right;
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

footer a.active {
    color: #9996af;
}

footer a:hover {
    color: #d6d0d0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:rgb(138, 90, 90) 255, 255);
    color: rgba(255, 255, 255, 0.473)55, 255, 255);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #f3f3f354;
  }
  
  .container {
    background-color:#99a5dd
    padding: 20px;
  }

@media screen and (max-width: 760px ) {
    header h2 {
        clear: left;
        text-align: unset;
        padding-top: 20px;
    }
    
}

@media screen and (max-width: 900px) {
    .column{
        width: 50%;
    }

    nav  {
       justify-content: unset;
       flex-direction: column;
       padding: 0%;
    }
}
@media screen and (max-width: 600px) {
    .column{
        width: 100%;
    }
}
